.round-div {
  background-color: var(--gray);
  border-radius: 40px;
  padding: 10px;
}
.center {
  text-align: center;
}
.red {
  color: red;
}
.margin-between-10 > * {
  margin: 10px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.flex-fill {
  flex: 1;
}
.flex-2-col-grid-item {
  flex-basis: 100%;
}
.flex-grid {
  justify-content: space-around;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-2-col-grid-item {
    flex-basis: 40%;
  }
}
.card {
  background-color: var(--light-blue);
  padding: 10px;
  /* width: 43%; */
  margin-bottom: 10px;
}
.font-small {
  font-size: 0.8em;
}
.button-medium {
  background: none;
  background-color: rgb(93, 199, 101);
  cursor: crosshair;
  outline: inherit;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin: 10px;
}
.button-medium:hover {
  -webkit-filter: brightness(50%);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
}
.button-disabled {
  background-color: rgb(188, 197, 206);
}
.display-block {
  display: block;
}